@inherits LayoutComponentBase


<div class="page">
    <div class="left-panel">
    </div>
    <div class="right-panel">
        <div class="signup-container">
            @Body
        </div>
    </div>

</div>

